<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>攻击事件可视化</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" th:href="@{/admin/css/securityTab.css}">
    <script th:src="@{/admin/jsplug/echarts.js}"></script>
</head>
<body>
<div th:replace="common/guide::html"></div>
<div class="mainContent layui-fluid">
    <div class="layui-row layui-col-space10">
        <div class="layui-col-md6">
            <div class="day-attack-statics">
                <span class="day-attack-title">当日攻击事件比例及数量</span>
                <div id="dayAttackNum" style="width: 600px;height: 300px;"></div>
            </div>
        </div>
        <div class="layui-col-md6">
            <div class="week-attack-statics">
                <span class="week-attack-title">一周内的攻击事件的变化趋势</span>
                <div class="week-attack-charts" id="charts2" style="width:600px;height: 300px;"></div>
            </div>
        </div>
    </div>
    <div class="layui-row layui-col-space10">
        <div class="layui-col-md6">
            <div class="attacked-statics">
                <span class="attacked-title">遭受攻击最多的IP地址</span>
                <div class="attacked-charts" id="charts3" style="width: 600px;height: 300px;"></div>
            </div>
        </div>
        <div class="layui-col-md6">
            <div class="attack-statics">
                <span class="attacked-title">发起攻击最多的IP地址</span>
                <div class="attack-charts" id="charts4" style="width:600px;height:300px;"></div>
            </div>

        </div>
    </div>
</div>
<!--<div class="layui-footer">© JamesZhan-Lab514 版权所有</div>-->
<script th:src="@{/admin/js/securityTab.js}" charset="UTF-8"></script>
</body>
</html>