<!DOCTYPE html>
<html xmlns:width="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>攻击事件</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script th:src="@{/admin/jsplug/echarts.js}"></script>
</head>
<body>
<div th:replace="common/guide::html"></div>
<div class="mainContent layui-fluid">
    <div class="layui-col-space20">
        <div class="left layui-col-md3" style="width: 35%;display: inline-block">
            <div id="main"  class="leftPie" style="height:400px"></div>
        </div>
        <div class="right">
            <table class="layui-col-md9" id="attackEventTable"></table>
        </div>
    </div>
</div>

<script th:src="@{/admin/js/securityAna.js}"></script>
</body>
</html>