body{
    background-color:#d2d2d2 ;
    opacity: 31;
}
.layui-nav{
    position:relative;
}
ul div .logo img{
    /*width:50%;*/
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    float:left;
}
.leftNav{
    /*font-size:30px;*/
    text-align: right;
}
.layui-footer{
    padding: auto;
}